[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
py-opensonic = "*"
liblistenbrainz = "*"
requests = "*"
musicbrainzngs = "*"

[dev-packages]

[requires]
python_version = "3.13"

[scripts]
create_playlist = "python create_playlist.py"